@import "~bootstrap/scss/bootstrap.scss";

body { margin: 0; }

a, a:hover {
	color: #f5aa44;
}


q {
	font-style: italic;
}

textarea {
	width: 100%;
	min-height: 300px;
	height: 20vh;
}

.credits {
	opacity: 0.8;
	font-size: 0.9em;
}

#viz {
	display: flex;
	align-items: center;
	justify-content: center;

	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.8em;
}

@media (min-width: 801px) {
	#root {
		display: flex;
		flex-direction: row-reverse;
	}
	#ui {
		min-width: 500px;
		max-width: 500px;
		padding: 2rem;
		flex-grow: 1;
		opacity: 0.9;
	}
	#viz {
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 14px;
	}

	#viz {
		width: 100vw;
		height: 75vh;
	}

	#ui {
		border-top: 1px solid #ccc;
		padding: 2rem;
	}
}