@import "~bootstrap/scss/bootstrap.scss";

body { margin: 0; }

a, a:hover {
	color: #f5aa44;
}


q {
	font-style: italic;
}

textarea {
	width: 100%;
	height: 20vh;
}
@media (min-width: 801px) {
	#root {
		display: flex;
		flex-direction: row-reverse;
	}
	#ui {
		min-width: 500px;
		max-width: 500px;
		padding: 2rem;
		flex-grow: 1;
	}
	#viz {
		width: 100%;
		height: 100vh;
	}
}

@media (max-width: 800px) {
	#viz {
		width: 100vw;
		height: 100vh;
	}
}